<div class="lui container fitting">
	<div class="lui column mobile-6">
		<div class="lui container">
			<h3>Texte {{ objective.isValidated }}</h3>
			<div class="input">
				<textarea #textarea
					class="lui column mobile-12"
					(keydown)="onKeyDown($event)"
					(click)="onClick($event)"
					(mousedown)="onClick($event)"
					(mouseup)="onClick($event)">{{ state.textContent }}</textarea>
			</div>
		</div>
	</div>
	<div class="lui column mobile-6">
		<div class="lui container">
			<h3>Objectif</h3>
			<div>
				{{ objective.getDisplayText(state) }}
			</div>
			<div [innerHTML]="objective.getObjectiveImage(state)"></div>
		</div>
	</div>
	<div class="lui column mobile-6">
		<div class="lui container">
			<h3>Essai en cours</h3>
			<div>Nombre de combinaisons de touches utilisé(e)s : {{ keysStack.length }}</div>
			<div>Combinaisons utilisé(e)s : {{ getKeysStackAsString() }}</div>
		</div>
	</div>
	<div class="lui column mobile-6">
		<div class="lui container">
			<h3>Actions</h3>
			<button class="lui primary button" (click)="reset()">Réessayer</button>
		</div>
	</div>
</div>