/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
}
.carret {
	border-left: 2px solid black;
}
.selection {
	background-color: lightblue;
}
.success {
	background-color: lightgreen;
}